{erl_opts, [debug_info, verbose]}.
{erl_first_files, [
    "src/merlin_internal.erl",
    "src/merlin_lib.erl",
    "src/merlin.erl",
    "src/merlin_quote_transform.erl",
    "src/merlin_macros_transform.erl",
    "src/merlin_with_statement.erl",
    "src/merlin_in_transform.erl"
    ]}.

{deps, [
    {parse_trans,         "3.3.0"}
]}.

{dialyzer, [
    {warnings,
        [
            no_return,
            no_unused,
            no_improper_lists,
            no_fun_app,
            no_match,
            no_opaque,
            no_fail_call,
            no_contracts,
            no_behaviours,
            no_undefined_callbacks,
            unmatched_returns,
            error_handling,
            % race_conditions,
            underspecs
            % overspecs
            % specdiffs
        ]
    },
    {base_plt_apps, [
        crypto,
        debugger,
        erts,
        kernel,
        stdlib,
        syntax_tools
    ]}
    ]
}.

{profiles, [
    {'E', [
        {pre_hooks, [{compile, "sh scripts/copy-beams.sh"}]},
        {erl_opts, ['E']}
    ]},
    {'P', [
        {pre_hooks, [{compile, "sh scripts/copy-beams.sh"}]},
        {erl_opts, ['P']}
    ]},
    {examples, [
        {pre_hooks, [{compile, "sh scripts/copy-beams.sh"}]},
        {erl_opts, ['E']},
        {extra_src_dirs, ["examples"]}
    ]}
]}.