{erl_opts, [debug_info, verbose, report]}.
{deps, [
    {parse_trans,         "3.3.0"}
]}.
{pre_hooks, [{compile, "fish $REBAR_ROOT_DIR/priv/generate_macro_macros.fish"}]}.

{profiles, [
    {'E', [
        {pre_hooks, [{compile, "cp _build/default/lib/merlin/ebin/*.beam $REBAR_BUILD_DIR/lib/merlin/ebin/"}]},
        {erl_opts, [debug_info, verbose, report, 'E']}
    ]},
    {'P', [
        {pre_hooks, [{compile, "cp _build/default/lib/merlin/ebin/*.beam $REBAR_BUILD_DIR/lib/merlin/ebin/"}]},
        {erl_opts, [debug_info, verbose, report, 'P']}
    ]}
]}.