{erl_opts, [debug_info, verbose]}.
{deps, [
    {parse_trans,         "3.3.0"}
]}.

{profiles, [
    {'E', [
        {pre_hooks, [{compile, "sh scripts/copy-beams.sh"}]},
        {erl_opts, ['E']}
    ]},
    {'P', [
        {pre_hooks, [{compile, "sh scripts/copy-beams.sh"}]},
        {erl_opts, ['P']}
    ]}
]}.