[

{kernel,
    [ {logger_level, notice}
    , {logger,
        [ {handler, default, logger_std_h,
           #{ level => warning
            , formatter => {logger_formatter,
               #{ legacy_header => false
                , single_line => true
                }
              }
            }
          }
        , {handler, debug_log, logger_std_h,
           #{ level => debug
            , formatter => {logger_formatter,
               #{ legacy_header => false
                , single_line => false
                , template => [
                    % domain, " ", level, ": ", mfa, " ", file, ":", line, "\n",
                    {[target, mfa], [[target, mfa], " "], []}, [target, file], ":", [target, line], "\n",
                    {indent, [indent], []}, msg, "\n"
                  ]
                % , chars_limit => 250
                }
              }
            % , filters =>
            %     [ {no_merlin, {fun logger_filters:domain/2, {stop, equal, [merlin]}}}
            %     ]
            , config => #{
                file => "console.log"
              }
            }}
        , {module_level, info, merlin}
        % , {module_level, debug, merlin_quote_transform}
        , {module_level, debug, merlin_with_statement}
        , {module_level, debug, merlin_in_transform}
        ]
      }
    ]
}

].